DATABASE_HOST="localhost"
DATABASE_USER="umair"
DATABASE_PASS="123"
DATABASE_NAME="fems"
DATABASE_PORT=5432

EMAIL_HOST_NAME='FEMS'
EMAIL_HOST_USER='email'
EMAIL_HOST_PASSWORD='app password'
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT='587'

