@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  /* hide for chrome, safari and opera */
  .hide-scrollbar::-webkit-scrollbar{
    display: none;
  }
  /* hide for IE,edge and firefox */
  .hide-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-green-1 {
  background: #FFFFFF99;
}

.bg-green-2 {
  background: #B3FFB3;
}
.nav-text-style{
  @apply w-full flex pt-3 text-gray-800 pb-2 md:text-[13px] text-sm font-bold  hover:text-[#3eff4b] hover:border-l-green-500 border-l-4 
}
.nav-icon-style{
  @apply text-base font-extrabold pl-4 pr-2;
}

table {
  @apply border-[1px] border-white text-sm;
}

table th {
  @apply text-center text-white font-medium bg-[#34ff34];
}

table th, table td {
  @apply px-3 py-2 border-white border-[0.3px] text-center;
}

table td{
  @apply bg-[#B3FFB3];
}